.jumbo {
  padding-top: 30px;
  background-repeat: no-repeat;
  height: 35vh;
  background-position-x: 70%;
  z-index: -1;
  margin-top: 50px;
  background-image: url("../assets/chat.png");
}

.btn-outline-teal {
  border-color: rgb(16, 147, 156);
}

.btn-outline-teal:hover {
  border-color: rgb(16, 147, 156);
  background-color: rgb(16, 147, 156);
}

.btn-outline-teal:hover .link {
  color: white;
  text-decoration: none;
}

.btn-outline-teal .link {
  color: black;
  text-decoration: none;
}
@media (max-width: 993px) {
  .jumbo {
    background-image: url("../assets/chatmobile.png");
  }
}
@media (max-width: 500px) {
  .jumbo {
    height: 40vh;
  }
}
